* {
	padding: 0; margin: 0; border: 0;
}

div#container {
	width: 350px;
	padding: 20px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#edf2f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #feffff 0%,#edf2f4 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #feffff 0%,#edf2f4 100%); /* W3C */
}

h1 {
	font-family: helvetica, sans-serif;
	color: #AAA;
	font-size: 17px;
	font-weight: normal;
	display: inline-block;
	margin-right: 10px;
}

span.subtitle {
	font-family: helvetica, sans-serif;
	color: #000;
	font-size: 14px;
	font-weight: bold;
}

hr {
	border-top: 1px solid #edf2f4;
	border-bottom: 1px solid ##feffff;
	margin: 5px 0 10px;
}